<p>lista works!</p>

<select name="lista">
    <option *ngFor="let myHeroe of mysHeroes" value="{{myHeroe.id}}">{{myHeroe.name}}</option>
</select>

<ul>
    <li *ngFor="let myHeroe of mysHeroes">
        <div><span>Id: </span><span class="data">{{myHeroe.id}}</span></div>
        <div>
            <span>Name: </span>
            <span class="data">{{myHeroe.name | uppercase}}</span>
            <input name="name1" [(ngModel)]="myHeroe.name" placeholder="name of heroe" />
        </div>
    </li>
</ul>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let myHeroe of mysHeroes">
            <td>{{myHeroe.id}}</td>
            <td>{{myHeroe.name}}</td>
        </tr>
    </tbody>
</table>